:root {
    --primary: #f46669;
    --secondary: #c7c57d;
    --gray: #f5f5f5;
    --dark-gray: #303030;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #303030;
}

p {
    font-weight: 100;
    line-height: 3.4rem;
    font-size: 1.2rem;
}

/* ! Main Content */
.nav-link {
    color: black;
    text-transform: uppercase;
}

.image>div {
    height: 30rem;
}

@media (min-width: 768px) {
    .image>div {
        height: 45rem;
    }
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.top .content {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.top .content p {
    line-height: 2rem;
}

.bottom .content {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.bottom .content p,
.bottom .content h2 {
    color: black;
    line-height: 2rem;
}

.bg-wine {
    background-image: url(../img/main1.jpg);
    background-size: cover;
    background-position: top center;
}

.bg-food {
    background-image: url(../img/main2.jpg);
    background-size: cover;
    background-position: top center;
}

.bottom .bg-food {
    order: 1;
}

@media (min-width: 768px) {
    .bottom .bg-food {
        order: unset;
    }
}

/* ! About Us */
.about-us h3 {
    font-size: 1.8rem;
    font-weight: 300;
}

.separator::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 100px;
    background-image: url(../img/separator.png);
    background-repeat: no-repeat;
    background-position: center center;
}

/* ! Card Section */
.courses {
    background-color: var(--gray);
}

.card {
    margin-bottom: 2rem;
}

.badge-secondary {
    background-color: #c7c57d !important;
    color: black;
}

.card-subtitle {
    color: #f46669;
    font-weight: 400;
}

.card-body p {
    font-size: 1rem;
    line-height: 2rem;
}

.card-body a {
    color: #f46669;
}

/* ! Degree Section */
.degree {
    background-image: url(../img/chef_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.degree .row {
    height: 38rem;
}

.degree .content h2 {
    font-weight: 700;
    font-size: 2.4rem;
}

.degree .content p {
    font-size: 1.8rem;
    line-height: 3rem;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: #de5558;
    border-color: #de5558;
}

/* ! Footer */
.footer {
    border-bottom: .7rem solid var(--primary);
}

.copyright {
    font-weight: 700;
    font-size: 1rem;
    line-height: 2.5rem;
}